# dependencies
node_modules/
.pnp/
.pnp.js

# testing
coverage/

# production
build/
dist/

# misc
.DS_Store
ehthumbs.db
Thumbs.db
.env
.env.*.local
.vscode/
*.log
*.tgz
*.zip

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn-error.log

# TypeScript
*.tsbuildinfo

# lock files
package-lock.json
